<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="\css\404.css">
 
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Page Not Found</p>
        <p>The page you are looking for doesn't exist or another error occurred. Go to <a href="/">Home Page</a>.</p>
    </div>
</body>
</html>
